In [52]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from bs4 import BeautifulSoup
from selenium import webdriver

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [95]:
#https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/table/?refine.state=IL
zip_codes_file = 'us-zip-code-latitude-and-longitude-all.csv'

#https://data.cityofchicago.org/Health-Human-Services/COVID-19-Cases-Tests-and-Deaths-by-ZIP-Code/yhhz-zm2v
covid_file = 'COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv'

zip_code_df = pd.read_csv(zip_codes_file, sep=';', usecols=['Zip', 'City', 'Latitude', 'Longitude'])
covid_df = pd.read_csv(covid_file)

,ZIP Code,Week Number,Week Start,Week End,Cases - Weekly,Cases - Cumulative,Case Rate - Weekly,Case Rate - Cumulative,Tests - Weekly,Tests - Cumulative,...,Test Rate - Cumulative,Percent Tested Positive - Weekly,Percent Tested Positive - Cumulative,Deaths - Weekly,Deaths - Cumulative,Death Rate - Weekly,Death Rate - Cumulative,Population,Row ID,ZIP Code Location
0,60606,17,04/19/2020,04/25/2020,2.0,17.0,64.0,548.2,35,134,...,4321.2,0.1,0.1,0,0,0.0,0.0,3101,60606-17,POINT (-87.63676 41.882634)
1,60606,18,04/26/2020,05/02/2020,2.0,19.0,64.0,612.7,34,168,...,5417.6,0.1,0.1,0,0,0.0,0.0,3101,60606-18,POINT (-87.63676 41.882634)
2,60606,19,05/03/2020,05/09/2020,2.0,21.0,64.0,677.2,42,210,...,6772.0,0.0,0.1,0,0,0.0,0.0,3101,60606-19,POINT (-87.63676 41.882634)
3,60606,20,05/10/2020,05/16/2020,1.0,22.0,32.0,709.4,79,289,...,9319.6,0.0,0.1,0,0,0.0,0.0,3101,60606-20,POINT (-87.63676 41.882634)
4,60606,21,05/17/2020,05/23/2020,0.0,22.0,0.0,709.4,71,360,...,11609.2,0.0,0.1,0,0,0.0,0.0,3101,60606-21,POINT (-87.63676 41.882634)

In [54]:
# Get all zip code from covid file
covid_zip_codes_df = DataFrame(np.sort(covid_df['ZIP Code'].replace('Unknown',np.nan).dropna().unique()), columns=['Zip'])
covid_zip_codes_df['Zip'] = covid_zip_codes_df['Zip'].astype('int64')

covid_zip_codes_df.head(3)
zip_code_df.head(3)

     Zip
0  60601
1  60602
2  60603

     Zip      City   Latitude  Longitude
0  71937      Cove  34.398483  -94.39398
1  72044  Edgemont  35.624351  -92.16056
2  56171  Sherburn  43.660847  -94.74357

In [55]:
# get all zip code which are present in both covid and zipcode files
joined_zip_codes_df = zip_code_df.merge(covid_zip_codes_df, how='inner', on='Zip').sort_values(by='Zip')
joined_zip_codes_df.head(3)

      Zip     City   Latitude  Longitude
46  60601  Chicago  41.886456  -87.62325
36  60602  Chicago  41.882937  -87.62874
38  60603  Chicago  41.880446  -87.63014

In [56]:

# https://sites.google.com/a/chromium.org/chromedriver/home
    

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')

driver = webdriver.Chrome(executable_path='./chromedriver',options=chrome_options)
file = open("vzw_stores_raw.csv","w")
file.write("street,city,zip_code\n")

def save_stores_data(lat, lon, zip_code):
    url = "https://www.verizonwireless.com/stores/storesearchresults/?lat={}&long={}&q={}#/Search".format(lat,lon,zip_code)
    # url = 'https://www.verizonwireless.com/stores/storesearchresults/?lat=41.8817767&long=-87.6371461&q=60606#/Search'
    driver.get(url)
    html = driver.page_source
    soup = BeautifulSoup(html, 'lxml')
    stores_p = soup.find_all(lambda tag: tag.name == 'p' and tag.get('class') == ['noMargin', 'col-xs-8', 'lineHeight1_5'])

    for s in stores_p:
        spans = s.find_all('span')
        street = str(s.contents[0]).title()
        city = str(spans[0].contents[0].split(",")[0]).title()
        zip_code = str(spans[1].contents[0].split(" ")[1])
        rec = "{},{},{}\n".format(street, city, zip_code)
        file.write(rec)

for index, row in joined_zip_codes_df.iterrows():
    save_stores_data(row['Latitude'], row['Longitude'], row['Zip'])
    print("Saved data of ==> ", row['Zip'], row['Latitude'], row['Longitude'])

file.flush()
file.close()

21

Saved data of ==>  60601 41.886456 -87.62325
Saved data of ==>  60602 41.882937 -87.62874000000001
Saved data of ==>  60603 41.880446 -87.63014
Saved data of ==>  60604 41.877589 -87.62818
Saved data of ==>  60605 41.860019 -87.6187
Saved data of ==>  60606 41.882582 -87.6376
Saved data of ==>  60607 41.875882 -87.65114
Saved data of ==>  60608 41.850532 -87.6699
Saved data of ==>  60609 41.814283 -87.65281999999999
Saved data of ==>  60610 41.898582 -87.6371
Saved data of ==>  60611 41.904666999999996 -87.62504
Saved data of ==>  60612 41.880682 -87.6877
Saved data of ==>  60613 41.953256 -87.6629
Saved data of ==>  60614 41.922682 -87.65432
Saved data of ==>  60615 41.801525 -87.60215
Saved data of ==>  60616 41.8474 -87.63126
Saved data of ==>  60617 41.719972999999996 -87.5557
Saved data of ==>  60618 41.945681 -87.7048
Saved data of ==>  60619 41.744834000000004 -87.60444
Saved data of ==>  60620 41.740483000000005 -87.65281999999999
Saved data of ==>  60621 41.776983 -87.6404
Saved data of ==>  60622 41.900332 -87.66927
Saved data of ==>  60623 41.850232 -87.71799999999999
Saved data of ==>  60624 41.879365 -87.72199
Saved data of ==>  60625 41.971614 -87.70255999999999
Saved data of ==>  60626 42.009731 -87.66938
Saved data of ==>  60628 41.695434000000006 -87.62255
Saved data of ==>  60629 41.777482 -87.71155
Saved data of ==>  60630 41.971044 -87.75869
Saved data of ==>  60631 41.99623 -87.81090999999999
Saved data of ==>  60632 41.809298999999996 -87.7105
Saved data of ==>  60633 41.655423 -87.55365
Saved data of ==>  60634 41.944454 -87.79654000000001
Saved data of ==>  60636 41.776633000000004 -87.66854000000001
Saved data of ==>  60637 41.779384 -87.60544
Saved data of ==>  60638 41.787982 -87.7738
Saved data of ==>  60639 41.921431 -87.75415
Saved data of ==>  60640 41.973181 -87.6665
Saved data of ==>  60641 41.946431 -87.74576
Saved data of ==>  60643 41.696433 -87.65993
Saved data of ==>  60644 41.881331 -87.75671
Saved data of ==>  60645 42.008956 -87.69634
Saved data of ==>  60646 41.995331 -87.7601
Saved data of ==>  60647 41.921126 -87.70085
Saved data of ==>  60649 41.761734000000004 -87.57072
Saved data of ==>  60651 41.901485 -87.74055
Saved data of ==>  60652 41.7446 -87.71188000000001
Saved data of ==>  60653 41.819833 -87.61269
Saved data of ==>  60654 41.888627 -87.63538
Saved data of ==>  60655 41.696283 -87.69912
Saved data of ==>  60656 41.97508 -87.8163
Saved data of ==>  60657 41.940832 -87.65852
Saved data of ==>  60659 41.991381 -87.70378000000001
Saved data of ==>  60660 41.990631 -87.6667
Saved data of ==>  60661 41.882082000000004 -87.64461
Saved data of ==>  60666 41.968029 -87.891214
Saved data of ==>  60707 41.922681 -87.80805
Saved data of ==>  60827 41.649716999999995 -87.63292

In [91]:
vzw_stores_df = pd.read_csv('vzw_stores_raw.csv')
vzw_stores_df.drop_duplicates(inplace=True)
vzw_stores_df.head(5)
vzw_stores_df.info()

                     street     city  zip_code
0             36 S State St  Chicago     60603
1  222 Merchandise Mart Plz  Chicago     60654
2       301 W Washington St  Chicago     60606
3          209 S Lasalle St  Chicago     60604
4        840 N Michigan Ave  Chicago     60611

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 1444
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   street    74 non-null     object
 1   city      74 non-null     object
 2   zip_code  74 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.3+ KB

In [92]:
vzw_stores_df = vzw_stores_df.merge(zip_code_df, how='left', left_on='zip_code', right_on='Zip')
vzw_stores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 0 to 73
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     74 non-null     object
 1   city       74 non-null     object
 2   zip_code   74 non-null     int64
 3   Zip        72 non-null     float64
 4   City       72 non-null     object
 5   Latitude   72 non-null     float64
 6   Longitude  72 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.6+ KB

In [93]:
vzw_stores_df = DataFrame(vzw_stores_df, columns=['street', 'city', 'zip_code', 'City', 'Latitude', 'Longitude'])

In [94]:
vzw_stores_df[vzw_stores_df['Longitude'].isnull()]

                   street        city  zip_code City  Latitude  Longitude
36       13348 Cicero Ave   Crestwood     60418  NaN       NaN        NaN
65  14124 South Bell Road  Homer Glen     60491  NaN       NaN        NaN

In [86]:
vzw_stores_df.to_csv('vzw_stores_final.csv')